<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Blogs by Stanliski</title>

<link rel="stylesheet" href="stylesheets/styles.css">
<!--
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet"
	href="http://softwaremaniacs.org/media/soft/highlight/styles/tomorrow-night-bright.css">
<script
	src="javascripts/highlight.pack.js"></script>
<script>
	hljs.tabReplace = '    ';
	hljs.initHighlightingOnLoad();
</script>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head> 
<body>
	<div class="wrapper">
		<header>
			<h1>Stanliski's Blog</h1>
			<p></p>

			<p class="view">
				<a href="https://github.com/Andy19890601/myblog">View the
					Project on GitHub <small>stanliski/myblog</small>
				</a>
			</p>


			<ul>
				<li><a
					href="https://github.com/Andy19890601/myblog/zipball/master">Download
						<strong>ZIP File</strong>
				</a></li>
				<li><a
					href="https://github.com/Andy19890601/myblog/tarball/master">Download
						<strong>TAR Ball</strong>
				</a></li>
				<li><a href="https://github.com/Andy19890601/myblog">View
						On <strong>GitHub</strong>
				</a></li>
			</ul>

			<p class="view">
				<a href="http://stanliski.github.io/myblog/leetcode.html">LeetCode</a></a>
			</p>
			<p class="view">
				<a href="http://stanliski.github.io/myblog/mysql.html">MySQL</a>
			</p>
			<p class="view">
				<a href="http://stanliski.github.io/myblog/java.html">Java</a>
			</p>
			<p class="view">
				<a href="http://stanliski.github.io/myblog/pythonandshell.html">Python
					and Shell</a>
			</p>
			<p class="view">
				<a href="http://stanliski.github.io/myblog/hadoop.html">Hadoop</a>
			</p>
			<p class="view">
				<a href="http://stanliski.github.io/myblog/linux.html">Linux</a>
			</p>


		</header>
			 <%- body %> 
		<footer>
			<p>
				This project is maintained by <a
					href="https://github.com/Andy19890601">Stanliski</a>
			</p>
			<p>
				<small>Hosted on GitHub Pages &mdash; Theme by <a
					href="https://github.com/orderedlist">orderedlist</a></small>
			</p>
		</footer>
	</div>
	<script src="javascripts/scale.fix.js"></script>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/blog.js"></script>
</body>
</html>
