<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Blogs by Stanliski</title>

<link rel="stylesheet" href="stylesheets/styles.css">
<!--
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet"
	href="http://softwaremaniacs.org/media/soft/highlight/styles/tomorrow-night-bright.css">
<script
	src="javascripts/highlight.pack.js"></script>
<script>
	hljs.tabReplace = '    ';
	hljs.initHighlightingOnLoad();
</script>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head> 
<body>
	<div class="wrapper">
		<header>
			<h1>Stanliski's Blog</h1>
			<p></p>

			<p class="view">
				<a href="#">View the
					Project on GitHub <small>stanliski/myblog</small>
				</a>
			</p>


			<ul>
				<li><a
					href="#">Download
						<strong>ZIP File</strong>
				</a></li>
				<li><a
					href="#">Download
						<strong>TAR Ball</strong>
				</a></li>
				<li><a href="#">View
						On <strong>GitHub</strong>
				</a></li>
			</ul>
			<p class="view">
				<a href="#">Linux</a>
			</p>
			<p class="view">
				<a href="#">Default</a>
			</p>
			<p class="view">
				<a href="#">大数据</a>
			</p>
			<p class="view">
				<a href="#">网络</a>
			</p>
			<p class="view">
				<a href="#">算法</a>
			</p>
			<p class="view">
				<a href="#">数据库</a>
			</p>
			<p class="view">
				<a href="#">脚本语言</a>
			</p>

		</header>
			 <section>
			 	<%- content %>
			 </section>
		<footer>
			<p>
				This project is maintained by <a
					href="#">Stanliski</a>
			</p>
			<p>
				<small>Hosted on GitHub Pages &mdash; Theme by <a
					href="https://github.com/orderedlist">orderedlist</a></small>
			</p>
		</footer>
	</div>
	<script src="javascripts/scale.fix.js"></script>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/blog.js"></script>
</body>
</html>
